NODE_ENV=development
PORT=4000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
DATABASE_URL=postgresql://username:password@your-project-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DIRECT_URL=postgresql://username:password@your-project.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
UPSTASH_REDIS_REST_URL=https://your-upstash-redis-url.upstash.io
UPSTASH_REDIS_REST_TOKEN=your-upstash-redis-rest-token
AWS_REGION=your-aws-region
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/123456789012/your-queue-name